*{
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    color: #4B4B4B;
    font-size: 14px;
}

.site-logo{
    width: 200px;
}

.row{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    padding: 0;
}

.col-2, .col-4{
    display: flex;
    justify-content: center;
}

.span-font{
    font-size: 14px;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 50px;
}

@media (min-width: 1200px){
.container{
    max-width: 1280px;
}
}