header{
    background-color: #fff;
    color: #4B4B4B;
    font-size: 14px;
}

.site-logo{
    width: 180px;
}

.row{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    padding: 0;
}

.col-2, .col-4{
    display: flex;
    justify-content: center;
}

.span-font{
    font-size: 14px;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.mheader{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

/* styles.css */

/* Hide the mobile menu by default */
#mobile-menu {
    display: none;
    opacity: 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    transition: opacity right 0.3s ease-in-out;
    z-index: 1;
    overflow-y: auto;
}

/* Style the mobile menu links */
#mobile-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 100px;
}

#mobile-menu ul li {
    padding: 15px;
    text-align: center;
    animation: fadeInLeft 0.5s ease-in-out;
}

#mobile-menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 36px;
}

/* Style the menu toggle button */
#menu-toggle {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 60px;
}

/* Close button */
#close-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 2;
    font-size: 36px;
}

.mheader .top-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}