body {
    background-color: #fff;
    font-family: 'poppins', sans-serif;
}

.header-7{
    background-color: #fff;
}

a.nav-link:hover {
    color: #FFC107 !important;
}

.input-style {
    background-color: #e0e0e0;
    color: #998F8F;
    border-radius: 5px;
    border: none;
}

.input-style-newsletter {
    background-color: #e0e0e0;
    color: #998F8F;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.button-style-primary {
    background-color: #FFC107;
    color: #4B4B4B;
    ;
    border-radius: 5px;
    border: 1px solid #FFC107;
    padding: 5px 10px;
    font-size: 14px;
}

.icon-style {
    background-color: transparent;
    font-size: 10px;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.icon-box>i {
    font-size: 24px;
    color: #FFC107;
}

.icon-box>div>h5 {
    font-size: 14px;
}

.icon-box>div>h6 {
    font-size: 12px;
}

.icon-headings {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
}

.up-row {
    background-color: #000;
    color: #fff;
    padding: 25px;
}

.bottom-row {
    background-color: #fff;
    color: #000;
    padding: 25px;
}

.middle-column {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.logo-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.social-icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

.social-icons>a>i {
    color: #000;
}

ul.nav>li>a {
    color: #000;
    font-size: 14px;
}

.newsletter-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 16px;
}

.newsletter-form>button {
    width: 100%;
    background-color: #FFC107;
    border: none;
    border-radius: 5px;
}

.newsletter-group>h5 {
    font-size: 14px;
    width: 100%;
}

li.main-item>a {
    font-size: 16px !important;
    font-weight: 600;
}

li.menu-item>a {
    font-size: 12px !important;
}

ul.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bottom-row>div>div {
    display: flex;
    align-items: center !important;
    justify-content: center;
    gap: 80px;
}


.logo-group>p {
    font-size: 12px;
    width: 100%;
}

.newsletter-group>h5 {
    font-size: 16px !important;
    font-weight: 600;
}

.newsletter-group>h6 {
    font-size: 12px !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 100%;
        padding: 10px 0px;
    }
}